In [1]:
import pandas as pd

In [4]:
from datetime import datetime


data = {'created_at': [], 'content': [], 'type': [], 'profile_id': [], 'course_id': [], 'role': []}
df = pd.DataFrame(data, dtype=int)

count = 0
add_date = 1

# ループを使って新しい行を追加
for i in range(121):
    if count % 10 == 0:
        
        add_df = pd.DataFrame([[(datetime(2022, 9, 1+add_date, 14, 15, 29, 925161+i)).isoformat(), i, 'Others', 'e4f029ea-4bbc-4418-951e-07e1e510c2b8', '9cc84d4d-bb3f-4fe9-a5c2-c2c170eb1278', 'Teacher']],
                          columns=['created_at', 'content', 'type', 'profile_id', 'course_id', 'role'])
        add_date += 1
    
    else:
        add_df = pd.DataFrame([[(datetime(2022, 9, 1+add_date, 14, 15, 29, 925161+i)).isoformat(), i, 'Others', 'e4f029ea-4bbc-4418-951e-07e1e510c2b8', '9cc84d4d-bb3f-4fe9-a5c2-c2c170eb1278', 'Teacher']],
                          columns=['created_at', 'content', 'type', 'profile_id', 'course_id', 'role'])
    
        
        
    df = pd.concat([df, add_df], ignore_index=True)
    
    count += 1

print(df)

                     created_at  content    type  \
0    2022-09-02T14:15:29.925161        0  Others
1    2022-09-03T14:15:29.925162        1  Others
2    2022-09-03T14:15:29.925163        2  Others
3    2022-09-03T14:15:29.925164        3  Others
4    2022-09-03T14:15:29.925165        4  Others
..                          ...      ...     ...
116  2022-09-14T14:15:29.925277      116  Others
117  2022-09-14T14:15:29.925278      117  Others
118  2022-09-14T14:15:29.925279      118  Others
119  2022-09-14T14:15:29.925280      119  Others
120  2022-09-14T14:15:29.925281      120  Others

                               profile_id  \
0    e4f029ea-4bbc-4418-951e-07e1e510c2b8
1    e4f029ea-4bbc-4418-951e-07e1e510c2b8
2    e4f029ea-4bbc-4418-951e-07e1e510c2b8
3    e4f029ea-4bbc-4418-951e-07e1e510c2b8
4    e4f029ea-4bbc-4418-951e-07e1e510c2b8
..                                    ...
116  e4f029ea-4bbc-4418-951e-07e1e510c2b8
117  e4f029ea-4bbc-4418-951e-07e1e510c2b8
118  e4f029ea-4bbc-4418-951e-07e1e510c2b8
119  e4f029ea-4bbc-4418-951e-07e1e510c2b8
120  e4f029ea-4bbc-4418-951e-07e1e510c2b8

                                course_id     role
0    9cc84d4d-bb3f-4fe9-a5c2-c2c170eb1278  Teacher
1    9cc84d4d-bb3f-4fe9-a5c2-c2c170eb1278  Teacher
2    9cc84d4d-bb3f-4fe9-a5c2-c2c170eb1278  Teacher
3    9cc84d4d-bb3f-4fe9-a5c2-c2c170eb1278  Teacher
4    9cc84d4d-bb3f-4fe9-a5c2-c2c170eb1278  Teacher
..                                    ...      ...
116  9cc84d4d-bb3f-4fe9-a5c2-c2c170eb1278  Teacher
117  9cc84d4d-bb3f-4fe9-a5c2-c2c170eb1278  Teacher
118  9cc84d4d-bb3f-4fe9-a5c2-c2c170eb1278  Teacher
119  9cc84d4d-bb3f-4fe9-a5c2-c2c170eb1278  Teacher
120  9cc84d4d-bb3f-4fe9-a5c2-c2c170eb1278  Teacher

[121 rows x 6 columns]

In [4]:
df.to_csv('shota_fuck12.csv', index=None)

In [7]:
from datetime import datetime

In [17]:
for i in range(10):
    print(datetime(2023, 9, 26, 14, 15, 29, 925161+i))

2023-09-26 14:15:29.925161
2023-09-26 14:15:29.925162
2023-09-26 14:15:29.925163
2023-09-26 14:15:29.925164
2023-09-26 14:15:29.925165
2023-09-26 14:15:29.925166
2023-09-26 14:15:29.925167
2023-09-26 14:15:29.925168
2023-09-26 14:15:29.925169
2023-09-26 14:15:29.925170

In [15]:
temp_time.isoformat()

'2023-09-26T14:15:29.925161'

In [18]:
for i in range(10):
    print('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [19]:
for _ in range(10):
    print('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello